i {font-style:normal;}
i.blush::after {content:"\01F60A";}
i.smiley::after {content:"\01F603";}
i.relaxed::after {content:"\263A\FE0F";}
i.smirk::after {content:"\01F60F";}
i.heart_eyes::after {content:"\01F60D";}
i.kissing_heart::after {content:"\01F618";}
i.kissing_closed_eyes::after {content:"\01F61A";}
i.flushed::after {content:"\01F633";}
i.relieved::after {content:"\01F60C";}
i.satisfied::after {content:"\01F606";}
i.grin::after {content:"\01F601";}
i.wink::after {content:"\01F609";}
i.stuck_out_tongue_winking_eye::after {content:"\01F61C";}
i.stuck_out_tongue_closed_eyes::after {content:"\01F61D";}
i.grinning::after {content:"\01F600";}
i.kissing::after {content:"\01F617";}
i.kissing_smiling_eyes::after {content:"\01F619";}
i.stuck_out_tongue::after {content:"\01F61B";}
i.sleeping::after {content:"\01F634";}
i.worried::after {content:"\01F61F";}
i.frowning::after {content:"\01F626";}
i.anguished::after {content:"\01F627";}
i.open_mouth::after {content:"\01F62E";}
i.grimacing::after {content:"\01F62C";}
i.confused::after {content:"\01F615";}
i.hushed::after {content:"\01F62F";}
i.expressionless::after {content:"\01F611";}
i.unamused::after {content:"\01F612";}
i.sweat_smile::after {content:"\01F605";}
i.sweat::after {content:"\01F613";}
i.disappointed_relieved::after {content:"\01F625";}
i.weary::after {content:"\01F629";}
i.pensive::after {content:"\01F614";}
i.disappointed::after {content:"\01F61E";}
i.confounded::after {content:"\01F616";}
i.fearful::after {content:"\01F628";}
i.cold_sweat::after {content:"\01F630";}
i.persevere::after {content:"\01F623";}
i.cry::after {content:"\01F622";}
i.sob::after {content:"\01F62D";}
i.joy::after {content:"\01F602";}
i.astonished::after {content:"\01F632";}
i.scream::after {content:"\01F631";}
i.tired_face::after {content:"\01F62B";}
i.angry::after {content:"\01F620";}
i.rage::after {content:"\01F621";}
i.triumph::after {content:"\01F624";}
i.sleepy::after {content:"\01F62A";}
i.yum::after {content:"\01F60B";}
i.mask::after {content:"\01F637";}
i.sunglasses::after {content:"\01F60E";}
i.dizzy_face::after {content:"\01F635";}
i.imp::after {content:"\01F47F";}
i.smiling_imp::after {content:"\01F608";}
i.neutral_face::after {content:"\01F610";}
i.no_mouth::after {content:"\01F636";}
i.innocent::after {content:"\01F607";}
i.alien::after {content:"\01F47D";}
i.yellow_heart::after {content:"\01F49B";}
i.blue_heart::after {content:"\01F499";}
i.purple_heart::after {content:"\01F49C";}
i.heart::after {content:"\2764\FE0F";}
i.green_heart::after {content:"\01F49A";}
i.broken_heart::after {content:"\01F494";}
i.heartbeat::after {content:"\01F493";}
i.heartpulse::after {content:"\01F497";}
i.two_hearts::after {content:"\01F495";}
i.revolving_hearts::after {content:"\01F49E";}
i.cupid::after {content:"\01F498";}
i.sparkling_heart::after {content:"\01F496";}
i.sparkles::after {content:"\2728";}
i.star::after {content:"\2B50\FE0F";}
i.star2::after {content:"\01F31F";}
i.dizzy::after {content:"\01F4AB";}
i.boom::after {content:"\01F4A5";}
i.collision::after {content:"\01F4A5";}
i.anger::after {content:"\01F4A2";}
i.exclamation::after {content:"\2757\FE0F";}
i.question::after {content:"\2753";}
i.grey_exclamation::after {content:"\2755";}
i.grey_question::after {content:"\2754";}
i.zzz::after {content:"\01F4A4";}
i.dash::after {content:"\01F4A8";}
i.sweat_drops::after {content:"\01F4A6";}
i.notes::after {content:"\01F3B6";}
i.musical_note::after {content:"\01F3B5";}
i.fire::after {content:"\01F525";}
i.hankey::after {content:"\01F4A9";}
i.poop::after {content:"\01F4A9";}
i.shit::after {content:"\01F4A9";}
i.+1::after {content:"\01F44D";}
i.thumbsup::after {content:"\01F44D";}
i.-1::after {content:"\01F44E";}
i.thumbsdown::after {content:"\01F44E";}
i.ok_hand::after {content:"\01F44C";}
i.punch::after {content:"\01F44A";}
i.facepunch::after {content:"\01F44A";}
i.fist::after {content:"\270A";}
i.v::after {content:"\270C\FE0F";}
i.wave::after {content:"\01F44B";}
i.hand::after {content:"\270B";}
i.raised_hand::after {content:"\270B";}
i.open_hands::after {content:"\01F450";}
i.point_up::after {content:"\261D\FE0F";}
i.point_down::after {content:"\01F447";}
i.point_left::after {content:"\01F448";}
i.point_right::after {content:"\01F449";}
i.raised_hands::after {content:"\01F64C";}
i.pray::after {content:"\01F64F";}
i.point_up_2::after {content:"\01F446";}
i.clap::after {content:"\01F44F";}
i.muscle::after {content:"\01F4AA";}
i.walking::after {content:"\01F6B6";}
i.runner::after {content:"\01F3C3";}
i.running::after {content:"\01F3C3";}
i.couple::after {content:"\01F46B";}
i.family::after {content:"\01F46A";}
i.two_men_holding_hands::after {content:"\01F46C";}
i.two_women_holding_hands::after {content:"\01F46D";}
i.dancer::after {content:"\01F483";}
i.dancers::after {content:"\01F46F";}
i.ok_woman::after {content:"\01F646";}
i.no_good::after {content:"\01F645";}
i.information_desk_person::after {content:"\01F481";}
i.raising_hand::after {content:"\01F64B";}
i.bride_with_veil::after {content:"\01F470";}
i.person_with_pouting_face::after {content:"\01F64E";}
i.person_frowning::after {content:"\01F64D";}
i.bow::after {content:"\01F647";}
i.couple_with_heart::after {content:"\01F491";}
i.massage::after {content:"\01F486";}
i.haircut::after {content:"\01F487";}
i.nail_care::after {content:"\01F485";}
i.boy::after {content:"\01F466";}
i.girl::after {content:"\01F467";}
i.woman::after {content:"\01F469";}
i.man::after {content:"\01F468";}
i.baby::after {content:"\01F476";}
i.older_woman::after {content:"\01F475";}
i.older_man::after {content:"\01F474";}
i.person_with_blond_hair::after {content:"\01F471";}
i.man_with_gua_pi_mao::after {content:"\01F472";}
i.man_with_turban::after {content:"\01F473";}
i.construction_worker::after {content:"\01F477";}
i.cop::after {content:"\01F46E";}
i.angel::after {content:"\01F47C";}
i.princess::after {content:"\01F478";}
i.smiley_cat::after {content:"\01F63A";}
i.smile_cat::after {content:"\01F638";}
i.heart_eyes_cat::after {content:"\01F63B";}
i.kissing_cat::after {content:"\01F63D";}
i.smirk_cat::after {content:"\01F63C";}
i.scream_cat::after {content:"\01F640";}
i.crying_cat_face::after {content:"\01F63F";}
i.joy_cat::after {content:"\01F639";}
i.pouting_cat::after {content:"\01F63E";}
i.japanese_ogre::after {content:"\01F479";}
i.japanese_goblin::after {content:"\01F47A";}
i.see_no_evil::after {content:"\01F648";}
i.hear_no_evil::after {content:"\01F649";}
i.speak_no_evil::after {content:"\01F64A";}
i.guardsman::after {content:"\01F482";}
i.skull::after {content:"\01F480";}
i.feet::after {content:"\01F43E";}
i.lips::after {content:"\01F444";}
i.kiss::after {content:"\01F48B";}
i.droplet::after {content:"\01F4A7";}
i.ear::after {content:"\01F442";}
i.eyes::after {content:"\01F440";}
i.nose::after {content:"\01F443";}
i.tongue::after {content:"\01F445";}
i.love_letter::after {content:"\01F48C";}
i.bust_in_silhouette::after {content:"\01F464";}
i.busts_in_silhouette::after {content:"\01F465";}
i.speech_balloon::after {content:"\01F4AC";}
i.thought_balloon::after {content:"\01F4AD";}
i.snowflake::after {content:"\2744\FE0F";}
i.snowman::after {content:"\26C4\FE0F";}
i.zap::after {content:"\26A1\FE0F";}
i.cyclone::after {content:"\01F300";}
i.foggy::after {content:"\01F301";}
i.ocean::after {content:"\01F30A";}
i.cat::after {content:"\01F431";}
i.dog::after {content:"\01F436";}
i.mouse::after {content:"\01F42D";}
i.hamster::after {content:"\01F439";}
i.rabbit::after {content:"\01F430";}
i.wolf::after {content:"\01F43A";}
i.frog::after {content:"\01F438";}
i.tiger::after {content:"\01F42F";}
i.koala::after {content:"\01F428";}
i.bear::after {content:"\01F43B";}
i.pig::after {content:"\01F437";}
i.pig_nose::after {content:"\01F43D";}
i.cow::after {content:"\01F42E";}
i.boar::after {content:"\01F417";}
i.monkey_face::after {content:"\01F435";}
i.monkey::after {content:"\01F412";}
i.horse::after {content:"\01F434";}
i.racehorse::after {content:"\01F40E";}
i.camel::after {content:"\01F42B";}
i.sheep::after {content:"\01F411";}
i.elephant::after {content:"\01F418";}
i.panda_face::after {content:"\01F43C";}
i.snake::after {content:"\01F40D";}
i.bird::after {content:"\01F426";}
i.baby_chick::after {content:"\01F424";}
i.hatched_chick::after {content:"\01F425";}
i.hatching_chick::after {content:"\01F423";}
i.chicken::after {content:"\01F414";}
i.penguin::after {content:"\01F427";}
i.turtle::after {content:"\01F422";}
i.bug::after {content:"\01F41B";}
i.honeybee::after {content:"\01F41D";}
i.ant::after {content:"\01F41C";}
i.beetle::after {content:"\01F41E";}
i.snail::after {content:"\01F40C";}
i.octopus::after {content:"\01F419";}
i.tropical_fish::after {content:"\01F420";}
i.fish::after {content:"\01F41F";}
i.whale::after {content:"\01F433";}
i.whale2::after {content:"\01F40B";}
i.dolphin::after {content:"\01F42C";}
i.cow2::after {content:"\01F404";}
i.ram::after {content:"\01F40F";}
i.rat::after {content:"\01F400";}
i.water_buffalo::after {content:"\01F403";}
i.tiger2::after {content:"\01F405";}
i.rabbit2::after {content:"\01F407";}
i.dragon::after {content:"\01F409";}
i.goat::after {content:"\01F410";}
i.rooster::after {content:"\01F413";}
i.dog2::after {content:"\01F415";}
i.pig2::after {content:"\01F416";}
i.mouse2::after {content:"\01F401";}
i.ox::after {content:"\01F402";}
i.dragon_face::after {content:"\01F432";}
i.blowfish::after {content:"\01F421";}
i.crocodile::after {content:"\01F40A";}
i.dromedary_camel::after {content:"\01F42A";}
i.leopard::after {content:"\01F406";}
i.cat2::after {content:"\01F408";}
i.poodle::after {content:"\01F429";}
i.paw_prints::after {content:"\01F43E";}
i.bouquet::after {content:"\01F490";}
i.cherry_blossom::after {content:"\01F338";}
i.tulip::after {content:"\01F337";}
i.four_leaf_clover::after {content:"\01F340";}
i.rose::after {content:"\01F339";}
i.sunflower::after {content:"\01F33B";}
i.hibiscus::after {content:"\01F33A";}
i.maple_leaf::after {content:"\01F341";}
i.leaves::after {content:"\01F343";}
i.fallen_leaf::after {content:"\01F342";}
i.herb::after {content:"\01F33F";}
i.mushroom::after {content:"\01F344";}
i.cactus::after {content:"\01F335";}
i.palm_tree::after {content:"\01F334";}
i.evergreen_tree::after {content:"\01F332";}
i.deciduous_tree::after {content:"\01F333";}
i.chestnut::after {content:"\01F330";}
i.seedling::after {content:"\01F331";}
i.blossom::after {content:"\01F33C";}
i.ear_of_rice::after {content:"\01F33E";}
i.shell::after {content:"\01F41A";}
i.globe_with_meridians::after {content:"\01F310";}
i.sun_with_face::after {content:"\01F31E";}
i.full_moon_with_face::after {content:"\01F31D";}
i.new_moon_with_face::after {content:"\01F31A";}
i.new_moon::after {content:"\01F311";}
i.waxing_crescent_moon::after {content:"\01F312";}
i.first_quarter_moon::after {content:"\01F313";}
i.waxing_gibbous_moon::after {content:"\01F314";}
i.full_moon::after {content:"\01F315";}
i.waning_gibbous_moon::after {content:"\01F316";}
i.last_quarter_moon::after {content:"\01F317";}
i.waning_crescent_moon::after {content:"\01F318";}
i.last_quarter_moon_with_face::after {content:"\01F31C";}
i.first_quarter_moon_with_face::after {content:"\01F31B";}
i.moon::after {content:"\01F314";}
i.earth_africa::after {content:"\01F30D";}
i.earth_americas::after {content:"\01F30E";}
i.earth_asia::after {content:"\01F30F";}
i.volcano::after {content:"\01F30B";}
i.milky_way::after {content:"\01F30C";}
i.partly_sunny::after {content:"\26C5\FE0F";}
i.school_satchel::after {content:"\01F392";}
i.mortar_board::after {content:"\01F393";}
i.flags::after {content:"\01F38F";}
i.fireworks::after {content:"\01F386";}
i.sparkler::after {content:"\01F387";}
i.wind_chime::after {content:"\01F390";}
i.rice_scene::after {content:"\01F391";}
i.jack_o_lantern::after {content:"\01F383";}
i.ghost::after {content:"\01F47B";}
i.santa::after {content:"\01F385";}
i.christmas_tree::after {content:"\01F384";}
i.gift::after {content:"\01F381";}
i.bell::after {content:"\01F514";}
i.no_bell::after {content:"\01F515";}
i.tanabata_tree::after {content:"\01F38B";}
i.tada::after {content:"\01F389";}
i.confetti_ball::after {content:"\01F38A";}
i.balloon::after {content:"\01F388";}
i.crystal_ball::after {content:"\01F52E";}
i.cd::after {content:"\01F4BF";}
i.dvd::after {content:"\01F4C0";}
i.floppy_disk::after {content:"\01F4BE";}
i.camera::after {content:"\01F4F7";}
i.video_camera::after {content:"\01F4F9";}
i.movie_camera::after {content:"\01F3A5";}
i.computer::after {content:"\01F4BB";}
i.tv::after {content:"\01F4FA";}
i.iphone::after {content:"\01F4F1";}
i.phone::after {content:"\260E\FE0F";}
i.telephone::after {content:"\260E\FE0F";}
i.telephone_receiver::after {content:"\01F4DE";}
i.pager::after {content:"\01F4DF";}
i.fax::after {content:"\01F4E0";}
i.minidisc::after {content:"\01F4BD";}
i.vhs::after {content:"\01F4FC";}
i.sound::after {content:"\01F509";}
i.speaker::after {content:"\01F508";}
i.mute::after {content:"\01F507";}
i.loudspeaker::after {content:"\01F4E2";}
i.mega::after {content:"\01F4E3";}
i.hourglass::after {content:"\231B\FE0F";}
i.hourglass_flowing_sand::after {content:"\23F3";}
i.alarm_clock::after {content:"\23F0";}
i.watch::after {content:"\231A\FE0F";}
i.radio::after {content:"\01F4FB";}
i.satellite::after {content:"\01F4E1";}
i.loop::after {content:"\27BF";}
i.mag::after {content:"\01F50D";}
i.mag_right::after {content:"\01F50E";}
i.unlock::after {content:"\01F513";}
i.lock::after {content:"\01F512";}
i.lock_with_ink_pen::after {content:"\01F50F";}
i.closed_lock_with_key::after {content:"\01F510";}
i.key::after {content:"\01F511";}
i.bulb::after {content:"\01F4A1";}
i.flashlight::after {content:"\01F526";}
i.high_brightness::after {content:"\01F506";}
i.low_brightness::after {content:"\01F505";}
i.electric_plug::after {content:"\01F50C";}
i.battery::after {content:"\01F50B";}
i.calling::after {content:"\01F4F2";}
i.email::after {content:"\2709\FE0F";}
i.mailbox::after {content:"\01F4EB";}
i.postbox::after {content:"\01F4EE";}
i.bath::after {content:"\01F6C0";}
i.bathtub::after {content:"\01F6C1";}
i.shower::after {content:"\01F6BF";}
i.toilet::after {content:"\01F6BD";}
i.wrench::after {content:"\01F527";}
i.nut_and_bolt::after {content:"\01F529";}
i.hammer::after {content:"\01F528";}
i.seat::after {content:"\01F4BA";}
i.moneybag::after {content:"\01F4B0";}
i.yen::after {content:"\01F4B4";}
i.dollar::after {content:"\01F4B5";}
i.pound::after {content:"\01F4B7";}
i.euro::after {content:"\01F4B6";}
i.credit_card::after {content:"\01F4B3";}
i.money_with_wings::after {content:"\01F4B8";}
i.e-mail::after {content:"\01F4E7";}
i.inbox_tray::after {content:"\01F4E5";}
i.outbox_tray::after {content:"\01F4E4";}
i.envelope::after {content:"\2709\FE0F";}
i.incoming_envelope::after {content:"\01F4E8";}
i.postal_horn::after {content:"\01F4EF";}
i.mailbox_closed::after {content:"\01F4EA";}
i.mailbox_with_mail::after {content:"\01F4EC";}
i.mailbox_with_no_mail::after {content:"\01F4ED";}
i.door::after {content:"\01F6AA";}
i.smoking::after {content:"\01F6AC";}
i.bomb::after {content:"\01F4A3";}
i.gun::after {content:"\01F52B";}
i.hocho::after {content:"\01F52A";}
i.pill::after {content:"\01F48A";}
i.syringe::after {content:"\01F489";}
i.page_facing_up::after {content:"\01F4C4";}
i.page_with_curl::after {content:"\01F4C3";}
i.bookmark_tabs::after {content:"\01F4D1";}
i.bar_chart::after {content:"\01F4CA";}
i.chart_with_upwards_trend::after {content:"\01F4C8";}
i.chart_with_downwards_trend::after {content:"\01F4C9";}
i.scroll::after {content:"\01F4DC";}
i.clipboard::after {content:"\01F4CB";}
i.calendar::after {content:"\01F4C6";}
i.date::after {content:"\01F4C5";}
i.card_index::after {content:"\01F4C7";}
i.file_folder::after {content:"\01F4C1";}
i.open_file_folder::after {content:"\01F4C2";}
i.scissors::after {content:"\2702\FE0F";}
i.pushpin::after {content:"\01F4CC";}
i.paperclip::after {content:"\01F4CE";}
i.black_nib::after {content:"\2712\FE0F";}
i.pencil2::after {content:"\270F\FE0F";}
i.straight_ruler::after {content:"\01F4CF";}
i.triangular_ruler::after {content:"\01F4D0";}
i.closed_book::after {content:"\01F4D5";}
i.green_book::after {content:"\01F4D7";}
i.blue_book::after {content:"\01F4D8";}
i.orange_book::after {content:"\01F4D9";}
i.notebook::after {content:"\01F4D3";}
i.notebook_with_decorative_cover::after {content:"\01F4D4";}
i.ledger::after {content:"\01F4D2";}
i.books::after {content:"\01F4DA";}
i.bookmark::after {content:"\01F516";}
i.name_badge::after {content:"\01F4DB";}
i.microscope::after {content:"\01F52C";}
i.telescope::after {content:"\01F52D";}
i.newspaper::after {content:"\01F4F0";}
i.football::after {content:"\01F3C8";}
i.basketball::after {content:"\01F3C0";}
i.soccer::after {content:"\26BD\FE0F";}
i.baseball::after {content:"\26BE\FE0F";}
i.tennis::after {content:"\01F3BE";}
i.8ball::after {content:"\01F3B1";}
i.rugby_football::after {content:"\01F3C9";}
i.bowling::after {content:"\01F3B3";}
i.golf::after {content:"\26F3\FE0F";}
i.mountain_bicyclist::after {content:"\01F6B5";}
i.bicyclist::after {content:"\01F6B4";}
i.horse_racing::after {content:"\01F3C7";}
i.snowboarder::after {content:"\01F3C2";}
i.swimmer::after {content:"\01F3CA";}
i.surfer::after {content:"\01F3C4";}
i.ski::after {content:"\01F3BF";}
i.spades::after {content:"\2660\FE0F";}
i.hearts::after {content:"\2665\FE0F";}
i.clubs::after {content:"\2663\FE0F";}
i.diamonds::after {content:"\2666\FE0F";}
i.gem::after {content:"\01F48E";}
i.ring::after {content:"\01F48D";}
i.trophy::after {content:"\01F3C6";}
i.musical_score::after {content:"\01F3BC";}
i.musical_keyboard::after {content:"\01F3B9";}
i.violin::after {content:"\01F3BB";}
i.space_invader::after {content:"\01F47E";}
i.video_game::after {content:"\01F3AE";}
i.black_joker::after {content:"\01F0CF";}
i.flower_playing_cards::after {content:"\01F3B4";}
i.game_die::after {content:"\01F3B2";}
i.dart::after {content:"\01F3AF";}
i.mahjong::after {content:"\01F004\FE0F";}
i.clapper::after {content:"\01F3AC";}
i.memo::after {content:"\01F4DD";}
i.pencil::after {content:"\01F4DD";}
i.book::after {content:"\01F4D6";}
i.art::after {content:"\01F3A8";}
i.microphone::after {content:"\01F3A4";}
i.headphones::after {content:"\01F3A7";}
i.trumpet::after {content:"\01F3BA";}
i.saxophone::after {content:"\01F3B7";}
i.guitar::after {content:"\01F3B8";}
i.shoe::after {content:"\01F45E";}
i.sandal::after {content:"\01F461";}
i.high_heel::after {content:"\01F460";}
i.lipstick::after {content:"\01F484";}
i.boot::after {content:"\01F462";}
i.shirt::after {content:"\01F455";}
i.tshirt::after {content:"\01F455";}
i.necktie::after {content:"\01F454";}
i.womans_clothes::after {content:"\01F45A";}
i.dress::after {content:"\01F457";}
i.running_shirt_with_sash::after {content:"\01F3BD";}
i.jeans::after {content:"\01F456";}
i.kimono::after {content:"\01F458";}
i.bikini::after {content:"\01F459";}
i.ribbon::after {content:"\01F380";}
i.tophat::after {content:"\01F3A9";}
i.crown::after {content:"\01F451";}
i.womans_hat::after {content:"\01F452";}
i.mans_shoe::after {content:"\01F45E";}
i.closed_umbrella::after {content:"\01F302";}
i.briefcase::after {content:"\01F4BC";}
i.handbag::after {content:"\01F45C";}
i.pouch::after {content:"\01F45D";}
i.purse::after {content:"\01F45B";}
i.eyeglasses::after {content:"\01F453";}
i.fishing_pole_and_fish::after {content:"\01F3A3";}
i.coffee::after {content:"\2615\FE0F";}
i.tea::after {content:"\01F375";}
i.sake::after {content:"\01F376";}
i.baby_bottle::after {content:"\01F37C";}
i.beer::after {content:"\01F37A";}
i.beers::after {content:"\01F37B";}
i.cocktail::after {content:"\01F378";}
i.tropical_drink::after {content:"\01F379";}
i.wine_glass::after {content:"\01F377";}
i.fork_and_knife::after {content:"\01F374";}
i.pizza::after {content:"\01F355";}
i.hamburger::after {content:"\01F354";}
i.fries::after {content:"\01F35F";}
i.poultry_leg::after {content:"\01F357";}
i.meat_on_bone::after {content:"\01F356";}
i.spaghetti::after {content:"\01F35D";}
i.curry::after {content:"\01F35B";}
i.fried_shrimp::after {content:"\01F364";}
i.bento::after {content:"\01F371";}
i.sushi::after {content:"\01F363";}
i.fish_cake::after {content:"\01F365";}
i.rice_ball::after {content:"\01F359";}
i.rice_cracker::after {content:"\01F358";}
i.rice::after {content:"\01F35A";}
i.ramen::after {content:"\01F35C";}
i.stew::after {content:"\01F372";}
i.oden::after {content:"\01F362";}
i.dango::after {content:"\01F361";}
i.bread::after {content:"\01F35E";}
i.doughnut::after {content:"\01F369";}
i.custard::after {content:"\01F36E";}
i.icecream::after {content:"\01F366";}
i.ice_cream::after {content:"\01F368";}
i.shaved_ice::after {content:"\01F367";}
i.birthday::after {content:"\01F382";}
i.cake::after {content:"\01F370";}
i.cookie::after {content:"\01F36A";}
i.chocolate_bar::after {content:"\01F36B";}
i.candy::after {content:"\01F36C";}
i.lollipop::after {content:"\01F36D";}
i.honey_pot::after {content:"\01F36F";}
i.apple::after {content:"\01F34E";}
i.green_apple::after {content:"\01F34F";}
i.tangerine::after {content:"\01F34A";}
i.lemon::after {content:"\01F34B";}
i.cherries::after {content:"\01F352";}
i.grapes::after {content:"\01F347";}
i.watermelon::after {content:"\01F349";}
i.strawberry::after {content:"\01F353";}
i.peach::after {content:"\01F351";}
i.melon::after {content:"\01F348";}
i.banana::after {content:"\01F34C";}
i.pear::after {content:"\01F350";}
i.pineapple::after {content:"\01F34D";}
i.sweet_potato::after {content:"\01F360";}
i.eggplant::after {content:"\01F346";}
i.tomato::after {content:"\01F345";}
i.corn::after {content:"\01F33D";}
i.office::after {content:"\01F3E2";}
i.post_office::after {content:"\01F3E3";}
i.hospital::after {content:"\01F3E5";}
i.bank::after {content:"\01F3E6";}
i.convenience_store::after {content:"\01F3EA";}
i.love_hotel::after {content:"\01F3E9";}
i.hotel::after {content:"\01F3E8";}
i.wedding::after {content:"\01F492";}
i.church::after {content:"\26EA\FE0F";}
i.department_store::after {content:"\01F3EC";}
i.european_post_office::after {content:"\01F3E4";}
i.city_sunrise::after {content:"\01F307";}
i.city_sunset::after {content:"\01F306";}
i.japanese_castle::after {content:"\01F3EF";}
i.european_castle::after {content:"\01F3F0";}
i.tent::after {content:"\26FA\FE0F";}
i.factory::after {content:"\01F3ED";}
i.tokyo_tower::after {content:"\01F5FC";}
i.japan::after {content:"\01F5FE";}
i.mount_fuji::after {content:"\01F5FB";}
i.sunrise_over_mountains::after {content:"\01F304";}
i.sunrise::after {content:"\01F305";}
i.stars::after {content:"\01F320";}
i.statue_of_liberty::after {content:"\01F5FD";}
i.bridge_at_night::after {content:"\01F309";}
i.carousel_horse::after {content:"\01F3A0";}
i.rainbow::after {content:"\01F308";}
i.ferris_wheel::after {content:"\01F3A1";}
i.fountain::after {content:"\26F2\FE0F";}
i.roller_coaster::after {content:"\01F3A2";}
i.ship::after {content:"\01F6A2";}
i.speedboat::after {content:"\01F6A4";}
i.boat::after {content:"\26F5\FE0F";}
i.sailboat::after {content:"\26F5\FE0F";}
i.rowboat::after {content:"\01F6A3";}
i.anchor::after {content:"\2693\FE0F";}
i.rocket::after {content:"\01F680";}
i.airplane::after {content:"\2708\FE0F";}
i.helicopter::after {content:"\01F681";}
i.steam_locomotive::after {content:"\01F682";}
i.tram::after {content:"\01F68A";}
i.mountain_railway::after {content:"\01F69E";}
i.bike::after {content:"\01F6B2";}
i.aerial_tramway::after {content:"\01F6A1";}
i.suspension_railway::after {content:"\01F69F";}
i.mountain_cableway::after {content:"\01F6A0";}
i.tractor::after {content:"\01F69C";}
i.blue_car::after {content:"\01F699";}
i.oncoming_automobile::after {content:"\01F698";}
i.car::after {content:"\01F697";}
i.red_car::after {content:"\01F697";}
i.taxi::after {content:"\01F695";}
i.oncoming_taxi::after {content:"\01F696";}
i.articulated_lorry::after {content:"\01F69B";}
i.bus::after {content:"\01F68C";}
i.oncoming_bus::after {content:"\01F68D";}
i.rotating_light::after {content:"\01F6A8";}
i.police_car::after {content:"\01F693";}
i.oncoming_police_car::after {content:"\01F694";}
i.fire_engine::after {content:"\01F692";}
i.ambulance::after {content:"\01F691";}
i.minibus::after {content:"\01F690";}
i.truck::after {content:"\01F69A";}
i.train::after {content:"\01F68B";}
i.station::after {content:"\01F689";}
i.train2::after {content:"\01F686";}
i.bullettrain_front::after {content:"\01F685";}
i.bullettrain_side::after {content:"\01F684";}
i.light_rail::after {content:"\01F688";}
i.monorail::after {content:"\01F69D";}
i.railway_car::after {content:"\01F683";}
i.trolleybus::after {content:"\01F68E";}
i.ticket::after {content:"\01F3AB";}
i.fuelpump::after {content:"\26FD\FE0F";}
i.vertical_traffic_light::after {content:"\01F6A6";}
i.traffic_light::after {content:"\01F6A5";}
i.warning::after {content:"\26A0\FE0F";}
i.construction::after {content:"\01F6A7";}
i.beginner::after {content:"\01F530";}
i.atm::after {content:"\01F3E7";}
i.slot_machine::after {content:"\01F3B0";}
i.busstop::after {content:"\01F68F";}
i.barber::after {content:"\01F488";}
i.hotsprings::after {content:"\2668\FE0F";}
i.checkered_flag::after {content:"\01F3C1";}
i.crossed_flags::after {content:"\01F38C";}
i.izakaya_lantern::after {content:"\01F3EE";}
i.moyai::after {content:"\01F5FF";}
i.circus_tent::after {content:"\01F3AA";}
i.performing_arts::after {content:"\01F3AD";}
i.round_pushpin::after {content:"\01F4CD";}
i.triangular_flag_on_post::after {content:"\01F6A9";}
i.keycap_ten::after {content:"\01F51F";}
i.1234::after {content:"\01F522";}
i.symbols::after {content:"\01F523";}
i.arrow_backward::after {content:"\25C0\FE0F";}
i.arrow_down::after {content:"\2B07\FE0F";}
i.arrow_forward::after {content:"\25B6\FE0F";}
i.arrow_left::after {content:"\2B05\FE0F";}
i.capital_abcd::after {content:"\01F520";}
i.abcd::after {content:"\01F521";}
i.abc::after {content:"\01F524";}
i.arrow_lower_left::after {content:"\2199\FE0F";}
i.arrow_lower_right::after {content:"\2198\FE0F";}
i.arrow_right::after {content:"\27A1\FE0F";}
i.arrow_up::after {content:"\2B06\FE0F";}
i.arrow_upper_left::after {content:"\2196\FE0F";}
i.arrow_upper_right::after {content:"\2197\FE0F";}
i.arrow_double_down::after {content:"\23EC";}
i.arrow_double_up::after {content:"\23EB";}
i.arrow_down_small::after {content:"\01F53D";}
i.arrow_heading_down::after {content:"\2935\FE0F";}
i.arrow_heading_up::after {content:"\2934\FE0F";}
i.leftwards_arrow_with_hook::after {content:"\21A9\FE0F";}
i.arrow_right_hook::after {content:"\21AA\FE0F";}
i.left_right_arrow::after {content:"\2194\FE0F";}
i.arrow_up_down::after {content:"\2195\FE0F";}
i.arrow_up_small::after {content:"\01F53C";}
i.arrows_clockwise::after {content:"\01F503";}
i.arrows_counterclockwise::after {content:"\01F504";}
i.rewind::after {content:"\23EA";}
i.fast_forward::after {content:"\23E9";}
i.information_source::after {content:"\2139\FE0F";}
i.ok::after {content:"\01F197";}
i.twisted_rightwards_arrows::after {content:"\01F500";}
i.repeat::after {content:"\01F501";}
i.repeat_one::after {content:"\01F502";}
i.new::after {content:"\01F195";}
i.top::after {content:"\01F51D";}
i.up::after {content:"\01F199";}
i.cool::after {content:"\01F192";}
i.free::after {content:"\01F193";}
i.ng::after {content:"\01F196";}
i.cinema::after {content:"\01F3A6";}
i.koko::after {content:"\01F201";}
i.signal_strength::after {content:"\01F4F6";}
i.u5272::after {content:"\01F239";}
i.u5408::after {content:"\01F234";}
i.u55b6::after {content:"\01F23A";}
i.u6307::after {content:"\01F22F\FE0F";}
i.u6708::after {content:"\01F237\FE0F";}
i.u6709::after {content:"\01F236";}
i.u6e80::after {content:"\01F235";}
i.u7121::after {content:"\01F21A\FE0F";}
i.u7533::after {content:"\01F238";}
i.u7a7a::after {content:"\01F233";}
i.u7981::after {content:"\01F232";}
i.sa::after {content:"\01F202\FE0F";}
i.restroom::after {content:"\01F6BB";}
i.mens::after {content:"\01F6B9";}
i.womens::after {content:"\01F6BA";}
i.baby_symbol::after {content:"\01F6BC";}
i.no_smoking::after {content:"\01F6AD";}
i.parking::after {content:"\01F17F\FE0F";}
i.wheelchair::after {content:"\267F\FE0F";}
i.metro::after {content:"\01F687";}
i.baggage_claim::after {content:"\01F6C4";}
i.accept::after {content:"\01F251";}
i.wc::after {content:"\01F6BE";}
i.potable_water::after {content:"\01F6B0";}
i.put_litter_in_its_place::after {content:"\01F6AE";}
i.secret::after {content:"\3299\FE0F";}
i.congratulations::after {content:"\3297\FE0F";}
i.m::after {content:"\24C2\FE0F";}
i.passport_control::after {content:"\01F6C2";}
i.left_luggage::after {content:"\01F6C5";}
i.customs::after {content:"\01F6C3";}
i.ideograph_advantage::after {content:"\01F250";}
i.cl::after {content:"\01F191";}
i.sos::after {content:"\01F198";}
i.id::after {content:"\01F194";}
i.no_entry_sign::after {content:"\01F6AB";}
i.underage::after {content:"\01F51E";}
i.no_mobile_phones::after {content:"\01F4F5";}
i.do_not_litter::after {content:"\01F6AF";}
i.non-potable_water::after {content:"\01F6B1";}
i.no_bicycles::after {content:"\01F6B3";}
i.no_pedestrians::after {content:"\01F6B7";}
i.children_crossing::after {content:"\01F6B8";}
i.no_entry::after {content:"\26D4\FE0F";}
i.eight_spoked_asterisk::after {content:"\2733\FE0F";}
i.eight_pointed_black_star::after {content:"\2734\FE0F";}
i.heart_decoration::after {content:"\01F49F";}
i.vs::after {content:"\01F19A";}
i.vibration_mode::after {content:"\01F4F3";}
i.mobile_phone_off::after {content:"\01F4F4";}
i.chart::after {content:"\01F4B9";}
i.currency_exchange::after {content:"\01F4B1";}
i.aries::after {content:"\2648\FE0F";}
i.taurus::after {content:"\2649\FE0F";}
i.gemini::after {content:"\264A\FE0F";}
i.cancer::after {content:"\264B\FE0F";}
i.leo::after {content:"\264C\FE0F";}
i.virgo::after {content:"\264D\FE0F";}
i.libra::after {content:"\264E\FE0F";}
i.scorpius::after {content:"\264F\FE0F";}
i.sagittarius::after {content:"\2650\FE0F";}
i.capricorn::after {content:"\2651\FE0F";}
i.aquarius::after {content:"\2652\FE0F";}
i.pisces::after {content:"\2653\FE0F";}
i.ophiuchus::after {content:"\26CE";}
i.six_pointed_star::after {content:"\01F52F";}
i.negative_squared_cross_mark::after {content:"\274E";}
i.a::after {content:"\01F170\FE0F";}
i.b::after {content:"\01F171\FE0F";}
i.ab::after {content:"\01F18E";}
i.o2::after {content:"\01F17E\FE0F";}
i.diamond_shape_with_a_dot_inside::after {content:"\01F4A0";}
i.recycle::after {content:"\267B\FE0F";}
i.end::after {content:"\01F51A";}
i.on::after {content:"\01F51B";}
i.soon::after {content:"\01F51C";}
i.clock1::after {content:"\01F550";}
i.clock130::after {content:"\01F55C";}
i.clock10::after {content:"\01F559";}
i.clock1030::after {content:"\01F565";}
i.clock11::after {content:"\01F55A";}
i.clock1130::after {content:"\01F566";}
i.clock12::after {content:"\01F55B";}
i.clock1230::after {content:"\01F567";}
i.clock2::after {content:"\01F551";}
i.clock230::after {content:"\01F55D";}
i.clock3::after {content:"\01F552";}
i.clock330::after {content:"\01F55E";}
i.clock4::after {content:"\01F553";}
i.clock430::after {content:"\01F55F";}
i.clock5::after {content:"\01F554";}
i.clock530::after {content:"\01F560";}
i.clock6::after {content:"\01F555";}
i.clock630::after {content:"\01F561";}
i.clock7::after {content:"\01F556";}
i.clock730::after {content:"\01F562";}
i.clock8::after {content:"\01F557";}
i.clock830::after {content:"\01F563";}
i.clock9::after {content:"\01F558";}
i.clock930::after {content:"\01F564";}
i.heavy_dollar_sign::after {content:"\01F4B2";}
i.copyright::after {content:"\00A9\FE0F";}
i.registered::after {content:"\00AE\FE0F";}
i.tm::after {content:"\2122\FE0F";}
i.x::after {content:"\274C";}
i.heavy_exclamation_mark::after {content:"\2757\FE0F";}
i.bangbang::after {content:"\203C\FE0F";}
i.interrobang::after {content:"\2049\FE0F";}
i.o::after {content:"\2B55\FE0F";}
i.heavy_multiplication_x::after {content:"\2716\FE0F";}
i.heavy_plus_sign::after {content:"\2795";}
i.heavy_minus_sign::after {content:"\2796";}
i.heavy_division_sign::after {content:"\2797";}
i.white_flower::after {content:"\01F4AE";}
i.100::after {content:"\01F4AF";}
i.heavy_check_mark::after {content:"\2714\FE0F";}
i.ballot_box_with_check::after {content:"\2611\FE0F";}
i.radio_button::after {content:"\01F518";}
i.link::after {content:"\01F517";}
i.curly_loop::after {content:"\27B0";}
i.wavy_dash::after {content:"\3030\FE0F";}
i.part_alternation_mark::after {content:"\303D\FE0F";}
i.trident::after {content:"\01F531";}
i.white_check_mark::after {content:"\2705";}
i.black_square_button::after {content:"\01F532";}
i.white_square_button::after {content:"\01F533";}
i.black_circle::after {content:"\26AB\FE0F";}
i.white_circle::after {content:"\26AA\FE0F";}
i.red_circle::after {content:"\01F534";}
i.large_blue_circle::after {content:"\01F535";}
i.large_blue_diamond::after {content:"\01F537";}
i.large_orange_diamond::after {content:"\01F536";}
i.small_blue_diamond::after {content:"\01F539";}
i.small_orange_diamond::after {content:"\01F538";}
i.small_red_triangle::after {content:"\01F53A";}
i.small_red_triangle_down::after {content:"\01F53B";}